p {
    line-height: 2;
}
h2 {
    font-size: 20px;
}
hr {
    margin: 20px 0;
}
ol {
    line-height: 1.5lh;
}
.thumbnail {
    position: relative;
    width: 100%; /* 自动适应上一级 div 的宽度 */
    padding-top: 56.25%; /* 16:9 比例 (9/16 = 0.5625) */
    background-color: #e0e0e0; /* 占位符颜色 */
    overflow: hidden; /* 防止溢出 */
}
.thumbnail img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* 或使用contain根据需求 */
}